body{
    font-family: 'Inter', sans-serif;
    position: relative;
    width: 1440px;
    height: 1024px;
    background: #F3F5FC;
}

.imgCabecera{
    position: absolute;
    padding: 40px;
    
}

.ingresoTexto{
    background-color: transparent;

    position: absolute;
    width: 577px;
    height: 200px;
    left: 240px;
    top: 168px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;

    color: #0A3871;
    border: 0;
    outline: none;
    resize: none;
}
.salidaTexto li img{
    padding: 243px 32px 32px 32px;
}

.salidaTexto li{
    position: absolute;
    width: 400px;
    height: 944px;
    left: 1000px;
    top: 40px;
    background-color: white;
    display: inline-block;
    text-align: center;

    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;

}
.negrita{
        width: 336px;
        height: 58px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 120%;
    
        text-align: center;
    
}
.salidaTexto li p{
    border: 20px;
    margin: 10px;
    padding: 10px;
}
.botones{
    box-sizing: border-box;
}
.botonEncriptar{
    padding: 24px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 8px;

    width: 328px;
    height: 67px;

    border: #0A3871;
    border-radius: 24px;
    background: #0A3871;

    flex: none;
    order: 0;
    flex-grow: 0;
}
.botonEncriptar{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;

    color: #FFFFFF;

    flex: none;
    order: 0;
    flex-grow: 1;
    justify-content: center;
}

.botonDesencriptar{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 8px;
    
    width: 328px;
    height: 67px;
    background: #D8DFE8;

    border: 1px solid #0A3871;
    border-radius: 24px;

    flex: none;
    order: 0;
    flex-grow: 0;

    color: #0A3871;
    justify-content: center;

}
.botonDesencriptar{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
}